#gallery {
    width: 95%;
}

.thumbnail {
    float: left;
    width: 50%;
}

.thumbnail .image{
    margin: 1%;
    width: 98%;
    border: 1px solid #dddddd;
}

.thumbnail .text{
    margin: 3% 5%;
    line-height: 16px;
}

.thumbnail .brand{
    font-size: 12px;
    
}

.thumbnail .title{
    margin-top: 0;
    font-size: 10px;
}

.header_main input[type=text] {
    width: 100px;
}