#gallery {
    width: 960px;
    height: auto;
}

.thumbnail {
    float: left;
    width: 240px;
    height: 280px;
}

.thumbnail .image{
    margin: 20px 20px 0px 20px;
    width: 200px;
    height: 200px;
    border: 1px solid #dddddd;
}

.thumbnail .text{
    margin: 10px 25px;
    line-height: 16px;
}

.thumbnail .brand{
    font-size: 12px;
    
}

.thumbnail .title{
    margin-top: 0;
    font-size: 10px;
}

.header_main input[type=text] {
    width: 500px;
}