<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='index.css') }}">
  <title>Shoogle</title>
</head>
<body>
  <h1>
    <span>S</span><span>h</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>
  </h1>
  <form action="/result" method="GET">
    <div class="mx-auto mt-5 search-bar input-group">
      <input name="keyword" type="text" class="form-control rounded-pill" placeholder="이미지 입력 또는 키워드 검색" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
      </div>
    </div>
  </form>

  <form action = "/image" method = "POST" enctype = "multipart/form-data">
    <div id="image-search-bar" class="mx-auto search-bar input-group" style="margin:1rem;">
        <input type = "file" name = "file" style="width: 450px;"/>
        <input type = "submit"/>
    </div>
</form>

</body>
</html>