<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='pc.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='tablet.css') }}" media="(min-width:630px) and (max-width:980px)">
  <link rel="stylesheet" href="{{url_for('static', filename='mobile.css') }}" media="(min-width:0px) and (max-width:630px)">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Just Shoogle It</title>

</head>
<body>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="header_top">
    <a href="#login">관리자 로그인</a>
    <a href="mailto:devnjw@gmail.com">문의하기</a>
  </div>

  <div class="header_main">
    <a href="/"><h3 class="logo" style="color:black">Shoogle Admin Page</h3></a>
  </div>

  <div id="gallery"></div>

  <script type=text/javascript>
    var items = {{ items | tojson | safe }};
    var result = '';
    for(var i = 0; i < items.length; ++i){
        result += '<div class="thumbnail"><a href="' + items[i].item_url + '" target="_blank">\
          <img class="image" src="http://3.36.4.108:1902' + items[i].url + '" loading="lazy"/></a>\
          <div class="text">\
          <span class="brand">' + items[i].date + '</span></div></div>';
    }   
    var gallery = document.getElementById("gallery");
    gallery.innerHTML = result;

    var thumbnails = document.getElementsByClassName("thumbnail");
    var images = document.getElementsByClassName("image");

    for(var i = 0; i < thumbnails.length; ++i){
      thumbnails[i].style.height = thumbnails[i].clientWidth*1.25 +"px";
      images[i].style.height = images[i].clientWidth+"px";
    }

    var spinner = document.querySelector(".spinner-border");
    window.onload = function(){
      spinner.style.display = "none";
      console.log("ready")
    }

  </script>

</body>
</html>



