h1 {
    text-align: center;
    margin-top: 230px;
    font-size: 90px;
}
h1 span:nth-child(1) {
    color:#4285f4;
}
h1 span:nth-child(2) {
    color:#ea4335;
}
h1 span:nth-child(3) {
    color:#fbbc05;
}
h1 span:nth-child(4) {
    color:#fbbc05;
}
h1 span:nth-child(5) {
    color:#4285f4;
}
h1 span:nth-child(6) {
    color:#34a853;
}
h1 span:nth-child(7) {
    color:#ea4335;
}
.search-bar {
    width: 500px;
}

.rounded-pill {
    height: 45px
}

.mt-5{
    margin-top: 4rem!important;
}

.mb-3{
    margin-bottom: 4rem!important;
}

.column {
    margin:0 60px;
}

.thumbnail {
    margin: 20px;
    width: 200px;
    height: 200px;
}