/* body {
    background-color: rgb(255, 250, 243);
} */

.logo {
    margin: 6px 15px;
}

.header_top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;

    border-bottom: 1px solid;
    border-color: #ccc;

    overflow: hidden;
    background-color: white;
    align-items: center;
}

.header_top a {
    padding-top: 7px;
    padding-right: 30px;
    float: right;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.header_main {
    position: fixed;
    top: 30px;
    width: 100%;

    border-bottom: 1px solid;
    border-color: #ccc;

    height: 60px;
    padding: 1rem;
    color: black;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_main .search-container {
    float: right;
    align-items: center;
    margin-right: 12px;
}

.header_main .search-items {
    margin-top: 10px;
    border-bottom: 1px solid #555555;
}

.header_main input[type=text] {
    float: left;
    padding-top: 6px;
    font-size: 14px;
    border: none;
}

.header_main form{
    float: left;
}

button {
    padding: 6px 10px;
    margin-top: 0;
    background: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

button .fa-camera{
    padding-right: 0;
    float: right;
    padding-top: 3px;
}

#gallery {
    margin: 95px auto;
}

.thumbnail .text{
    text-transform: capitalize;
    font-weight: bold;
}

.fa{
    color: #444
}